body, h1, h2, h3, h4, h5, h6, ul,
button {
    padding: 0;
    margin: 0;
}

#hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    border: none;
    padding: 0.5rem;

    background-color: transparent;
}

#openIcon, #closeIcon {
    width: 2rem;
}

#closeIcon {
    display: none;
}



