body, h1, h2, h3, h4, h5, h6, p, ul,
form, button {
    padding: 0;
    margin: 0;
}

#topNavBar {
   display: flex; 
   justify-content: flex-end;
   padding-right: 3rem;
}

#addToDoBtn {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    border: none;
    padding: 0.3rem 0.8rem;
    margin: 1.5rem 0;

    color: #fff;
    background-color: #46a646;
    font-size: inherit;
    cursor: pointer;
}

#addToDoIcon {
    font-size: 1.5rem;
}

#projectTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 60%;
    margin: 0 auto 3rem;
    font-size: 2rem;
}

#projectTitleText {
    margin-right: 0.5rem;
}

#projectTitleLine {
    border-top: 1px solid #c3c3c3;
    flex: 1;
}

#toDoDisplay {
   width: 60%; 
   margin: 0 auto 5rem;
   box-shadow: -1px 0px 8px 1px rgba(0, 0, 0, 0.10), 
   0px 3px 5px 0px rgba(0, 0, 0, 0.10), 
   0px -3px 8px 2px rgba(0, 0, 0, 0.10);
}

#hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    border: none;
    padding: 0.5rem;

    background-color: transparent;
}

#openIcon, #closeIcon {
    width: 2rem;
}

#closeIcon {
    display: none;
}

.toDoRow {
    padding: 1.2rem 0;
}

.toDoTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoInfo {
    padding-left: 2rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.toDoCheckbox {
    appearance: none;
    position: relative;

    width: 1.2rem;
    height: 1.2rem;
    border: 1.2px solid #a8a8a8;
}

.toDoCheckbox:checked::before {
    position: absolute;
    top: -0.3rem;
    left: -0.1rem;

    content: "✓";
    font-size: 1.5rem;
    color: #4a844a;
}

.finishedToDo {
    position: relative;
    background-color: #d6d6d6;
}

.finishedToDo::before {
    content: "";
    position: absolute;
    top: -0.125rem;

    display: block;
    width: 100%;
    height: 0.0625rem;
    border-bottom: 1px solid #d6d6d6;
}

.strikedOutTitle {
    position: relative;
}

.strikedOutTitle::before {
    position: absolute;
    top: 50%;
    left: 4rem;
    right: 2rem;

    content: "";
    border-bottom: 1.5px solid #848484;
}

.strikedOutDescription {
    position: relative;
}

.strikedOutDescription::before {
    position: absolute;
    top: 50%;
    left: -0.3rem;
    right: -2.3rem;

    content: "";
    border-bottom: 1.5px solid #848484;
}

.strikedOutDate {
    position: relative;
}

.strikedOutDate::before {
    position: absolute;
    top: 50%;
    left: -0.3rem;
    right: -0.5rem;

    content: "";
    border-bottom: 1.5px solid #848484;
}

.toDoTitle {
    font-size: 1.3rem;
    font-weight: 800;
}

.toDoTitle[contenteditable=true]:focus-visible {
    outline: 1px solid #000;
    padding: 0.2rem;

    background-color: #fff;
}

.toDoIcons {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.toDoIcon {
    width: 2.3rem;
}

.lowPriority {
    fill: #00ff00;
}

.mediumPriority {
    fill: #5f5fff;
}

.highPriority {
    fill: #df5757;
}

.lowPriority, .mediumPriority, .highPriority {
    cursor: pointer;
}

.titleEditBtn {
    fill: #5f5fff;
    cursor: pointer;
}

.deleteBtn {
    fill: #df5757;
    cursor: pointer;
}

.collapseBtn {
    width: 3rem;
    fill: #888;
    transition: 0.4s all ease;
}

.collapseBtnRotate {
    transform: rotate(-90deg);
}

.toDoMoreInfo {
    display: none;

    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    padding-left: 4.4rem;

    font-size: 1.3rem;
}

.toDoExpand {
    display: block;
}

.description {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    margin-bottom: 0.8rem;
}

.toDoDescription[contenteditable=true]:focus-visible {
    outline: 1px solid #000;
    padding: 0.2rem;

    background-color: #fff;
}

.descriptionEditBtn {
    fill: #444;
    width: 1.6rem;

    cursor: pointer;
}

.toDoDate {
    margin-left: 0.4rem;
}

.toDoSeparator:not(:last-of-type) {
    border-bottom: 1px solid #c3c3c3;
    width: 95%;
    margin: 0 auto;
}

.finishedToDo + .toDoSeparator:not(:last-of-type) {
    border-width: 0px;
}

#toDoAdderDialog {
    width: 35%;

    border: none;
    padding: 0.2rem 0.4rem 3rem 0.4rem;
    margin-top: 3%;
}

#toDoAdderDialog::backdrop {
    background-color: #000;
    opacity: 0.4;
}

#dialogTopBar {
    display: flex;
    justify-content: flex-end;

    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 3rem;
}

#dialogCloseBtn {
    border: none;

    font-size: 1.5rem;
    background-color: transparent;
}

.toDoInputGroup {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.toDoInputGroup + .toDoInputGroup {
    margin-top: 2rem;
}

#toDoTitleInput {
    width: 100%;
    height: 1.2rem;

    border: none;
    padding: 0.125rem 0.125rem 0.25rem;
    font-size: inherit;
}

#toDoDescriptionInput {
    display: block;
    resize: none;

    width: 100%;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

.toDoInput:focus-visible {
    outline: none;
}

.formLabel {
    position: absolute;
    top: 0.125rem;

    color: #888;
    pointer-events: none;
    transition: 0.2s all ease;

    font-size: 1rem;
}

.toDoInput:focus + .formLabel,
.toDoInput:valid + .formLabel {
    top: -1rem;
    font-size: 0.9rem;
}

.toDoInput:focus + .formLabel {
    color: #5f5fff;
}

.formBar {
    position: relative;
    border-bottom: 1px solid #888;
}

.formBar::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.0625rem;

    width: 0;
    height: 0.125rem;
    transition: 0.2s all ease;
}

.toDoInput:focus ~ .formBar::before {
   background-color: #5f5fff;
   left: 0;
   width: 100%;
}

#toDoPriorityInput {
    display: block;

    height: 1.6rem;
    width: 100%;
    border: none;

    font-size: 1rem;
    background-color: transparent;
}

#toDoPriorityInput ~ .formLabel {
    top: -1rem;

    color: #888;
    font-size: 1rem;
}

#toDoPriorityInput:focus ~ .formLabel {
    color: #5f5fff;
}

#toDoPriorityInput:focus-visible {
    outline: none;
}

#toDoPriorityInputGroup {
    margin-top: 3rem;
}

#toDoDateInput {
    display: block;
}

#toDoDateInput + .formLabel {
    top: -1.5rem;
    font-size: 1rem;
}

#toDoDateInput:focus + .formLabel {
    color: #5f5fff;
}

#toDoDateInputGroup {
    margin-top: 3.3rem;
}


#toDoSubmitInputGroup {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
}

#toDoSubmitInput {
    appearance: none;

    width: 9rem;
    border: none;
    padding: 0.4rem 1rem;

    color: #fff;
    background-color: #5f5fff;
    font-size: inherit;
}